.Rproj.user
.Rhistory
.RData
.Ruserdata
reports
code/Sludge Costs.xlsx
code/archive
code/data
code/figures/Archive
code/scratch.R
code/quantileregression.R
code/MonteCarloGenerationBuilder.R
code/GraphScenarios.R